@model IEnumerable<TrashTalkDashboard.Models.TrashCanStatus>

<div class="row show-if-desktop top-buffer">
    <div class="col-sm-2"><strong>Distance 1</strong></div>
    <div class="col-sm-2"><strong>Distance 2</strong></div>
    <div class="col-sm-2"><strong>Ambient temp</strong></div>
    <div class="col-sm-2"><strong>Target temp</strong></div>
    <div class="col-sm-2"><strong>Accelerometer (X, Y, Z)</strong></div>
</div>
<hr>
<div></div>
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-sm-2">@Html.DisplayFor(modelItem => item.Distance.Sensor1)</div>
        <div class="col-sm-2">@Html.DisplayFor(modelItem => item.Distance.Sensor2)</div>
        <div class="col-sm-2">@Html.DisplayFor(modelItem => item.Temperature.Ambient)</div>
        <div class="col-sm-2">@Html.DisplayFor(modelItem => item.Temperature.Target)</div>
        <div class="col-sm-2">@Html.DisplayFor(modelItem => item.Accelerometer.X), @Html.DisplayFor(modelItem => item.Accelerometer.Y), @Html.DisplayFor(modelItem => item.Accelerometer.Y)</div>
    </div>

}


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
